<!DOCTYPE html>
<html>
  <head>
    <title>MakersBnB</title>

    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <img src="/static/img/logo2.png" alt="logo" width="250" />
    <div class="nav">
      <a href="/about" class="button">About</a>
      <a href="/login" class="button">Login</a>
    </div>
    
    {% for message in get_flashed_messages() %}
      <div class="alert alert-{{ message.category }}">
        {{ message }}
      </div>
    {% endfor %}
  <div class="main-box">
    <h1>Feel at home, anywhere</h1>
    <h2>Escape to anywhere, anytime on Makers BnB</h2>
    <div class="signup_box">
      <h2>Sign up to Makers BnB</h2>
      <form action="/index" method="POST">
        <h3>
          <label for="email">Email Address</label><br />
          <input required type="text" name="email" id="email" />
        </h3>
        <h3>
          <label for="password">Password</label>
          <br />
          <input required type="password" name="password" id="password" />
        </h3>
        


          <p><input type="submit" value="Sign up" class="btn" /></p>
        </form>
      </div>
    </div>
  </body>
</html>
