<!DOCTYPE html>
<html>
  <head>
    <title>Login to MakersBnB</title>

    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <img src="/static/img/logo2.png" alt="logo" width="350" />
    <div class="nav">
      <a href="/about" class="button">About</a>
      <a href="/" class="button">Sign up</a>
    </div>
    <div class="signin_box">
      <h1>Log in to Makers BnB</h1>
      <form action="/login" method="POST">
        <h3>
          <label for="email">Email Address</label><br />
          <input required type="text" name="email" id="email" />
        </h3>
        <h3>
          <label for="password">Password</label>
          <br />
          <input required type="password" name="password" id="password" />
        </h3>

        <p><input type="submit" value="Log in" class="btn" /></p>
      </form>
    </div>
  </body>
</html>
