<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <link rel="stylesheet" href="/static/style.css" >

  
    <title>List a Space | MakerBnB</title>
  </head>

  <body>
    <img src="/static/img/logo2.png" alt="logo" width="250" />
    <div class="nav">
      <a href="/spaces" class="button">Spaces</a>
      <a href="/bookings" class="button">Requests</a>
      <a href="/logout" class="button">Log out</a>
      <a href="/user" class="button">My account</a>
    </div>
    <h1>List a Space</h1>
    <br />
    <form action="/space" method="POST">
      <label>Name:</label>
      <br />
      <input required type="text" name="space_name" id="name" />
      <br />
      <br />
      <label>Description:</label>
      <br />
      <textarea
        name="description"
        id="description"
        rows="6"
        cols="40"
      ></textarea>
      <br />
      <br />

      <label>Price per night(£):</label>
      <input required type="text" name="price" id="price" />
      <br />
      <br />
      <br />
      <label>Available from:</label>
      <input required
        type="date"
        pattern="\d{4}-\d{2}-\d{2}"
        name="available_from"
        id="available_from"
      />
      <br />
      <br />
      <br />
      <label>Available to:</label>
      <input required
        type="date"
        pattern="\d{4}-\d{2}-\d{2}"
        name="available_to"
        id="available_to"
      />
      <br />
      <br />
      <br />
      <label>Photo Url</label>
      <input
      type="text"
      name="profile_photo"
      id="profile_photo"
    />

      <!-- <label>User ID</label>
      <input type="text" name="user_id" id="user_id" /> -->

      <br />

      <p><input type="submit" value="List My Space" class="btn" /></p>
    </form>
  </body>
</html>
